<div class="jumbotron center">
  <h1 class="display-3 space">ALPHA BLOG</h1>
  <p>Community for creation and share of articles.</p>
  <p><%= link_to "Sign up now", new_user_registration_path, class: "btn btn-primary btn-lg" %></p>
</div>

<div class="row">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <b><%= link_to "Alpha Blog", "#" %></b>
      </li>
      <li class="breadcrumb-item"><b><%= link_to "About", about_path %></b></li>
    </ol>
  </nav>
</div>
